*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(185, 244, 244);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.modulos{
    margin-top: 100px;
    align-items: center;
}

.bloco{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    line-height: 200px;
    cursor: pointer;
    transition: 0.3s all;
   }

.bloco:hover{
    box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.43);
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0,0,0,0.43);
    transform: scale(0.9) ;
    -webkit-transform: scale(0.9) ;
    -moz-transform: scale(0.9) ;
}

.bloco > p{
    display: flex;
    align-items: center;
    justify-content: center;
}